* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: DinRoundPro;
}

@font-face {
  font-family: DinRoundPro;
  src: url("../fonts/DINRoundPro/DINRoundPro.ttf");
}
@font-face {
  font-family: FestivoLetters;
  src: url("../fonts/FestivoLetters/FestivoLetters.otf");
}
html {
  font-size: 62.5%;
}

.bg-yellowKumpai {
  background-color: #FFD600;
}

.bg-orangeKumpai {
  background-color: #FF6700;
}

.bg-greenKumpai {
  background-color: #45B64A;
}

.bg-yellowKumpaiLigth {
  background-color: #FFF0A3;
}

.bg-orangeKumpaiLigth {
  background-color: #F9AC80;
}

.bg-greenKumpaiLigth {
  background-color: #A6D399;
}

.t-yellowKumpai {
  color: #FFD600;
}

.t-orangeKumpai {
  color: #FF6700;
}

.t-greenKumpai {
  color: #45B64A;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  background-color: #F9F6F2;
  padding-left: 5%;
  padding-right: 5%;
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
nav ul li {
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
}
nav ul .logo {
  background-image: url("/asset/Logo 2-14.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.oneSection {
  background-image: url("/asset/imgs/portada.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
}
.oneSection .logoSlogan {
  height: 20rem;
  position: relative;
  left: 10%;
  top: 10rem;
}
.oneSection .itemsOne {
  display: flex;
  margin: 100px;
  position: relative;
  top: 25rem;
}
.oneSection .itemsOne p {
  font-family: DinRoundPro;
  font-size: 20px;
  color: #F9F6F2;
  max-width: 800px;
}
.oneSection .itemsOne button {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  background-color: #FF6700;
  color: #F9F6F2;
  font-size: 20px;
  border: none;
  position: relative;
  left: 15%;
}

.twoSection {
  font-size: 24px;
}
.twoSection div {
  display: flex;
  flex-direction: column;
  place-content: center;
}
.twoSection div div {
  display: flex;
  flex-direction: row;
  margin: 80px 100px 25px 100px;
}
.twoSection div div p {
  margin: 120px;
  max-width: 400px;
  justify-content: center;
}

.threeSection {
  background-color: rgb(186, 250, 181);
  max-height: 800px;
}
.threeSection h2 {
  font-family: FestivoLetters;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 80px;
}
.threeSection .imgPeople {
  max-height: 600px;
  position: relative;
  left: 90rem;
}
.threeSection div .boxy {
  display: flex;
  width: 500px;
  position: relative;
  top: -550px;
  gap: 50px;
  left: 20%;
  margin: 40px;
  border-radius: 50% 10px 10px 50%;
}
.threeSection div .boxy .boxNumero {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  place-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #F9F6F2;
}
.threeSection div .boxy .boxText {
  font-size: 25px;
  display: flex;
  place-content: center;
  align-items: center;
}

.fourSection {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  place-content: center;
}
.fourSection div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fourSection div .imgCrad {
  max-width: 200px;
  position: relative;
  top: 100px;
}
.fourSection div .boxCard {
  border-radius: 20px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 850px;
}
.fourSection div .boxCard h2 {
  font-size: 25px;
  display: flex;
  place-content: center;
  margin-top: 100px;
}
.fourSection div .boxCard p {
  font-size: 20px;
  display: flex;
  place-content: center;
  max-width: 250px;
  margin-top: 50px;
}

.fiveSection {
  background-color: #FF6700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fiveSection div {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.fiveSection div button {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  background-color: #FF6700;
  color: #F9F6F2;
  font-size: 20px;
  border: none;
  position: relative;
  top: -100px;
}
.fiveSection div .itemsOne {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-bottom: 50px;
  flex-direction: row;
}
.fiveSection div .itemsOne p {
  font-size: 20px;
  max-width: 700px;
  color: #F9F6F2;
  font-weight: bold;
}
.fiveSection div .itemsOne .logoSlogan {
  height: 20rem;
}/*# sourceMappingURL=style.css.map */