
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: DinRoundPro;
}

@font-face {
    font-family: DinRoundPro;
    src: url("../fonts/DINRoundPro/DINRoundPro.ttf");
}

@font-face {
    font-family: FestivoLetters;
    src: url("../fonts/FestivoLetters/FestivoLetters.otf");
}


html {
    font-size: 62.5%;
}

// variables
$whiteKumpai    : #F9F6F2;
$yellowKumpai   : #FFD600; 
$orangeKumpai   : #FF6700; 
$greenKumpai    :   #45B64A;


$yellowKumpaiLigth   : #FFF0A3; 
$orangeKumpaiLigth   : #F9AC80; 
$greenKumpaiLigth    :   #A6D399;



.bg-yellowKumpai{
    background-color: $yellowKumpai;
}

.bg-orangeKumpai {
    background-color: $orangeKumpai;
}

.bg-greenKumpai {
    background-color: $greenKumpai;
}


.bg-yellowKumpaiLigth{
    background-color:$yellowKumpaiLigth;
}

.bg-orangeKumpaiLigth{
    background-color:$orangeKumpaiLigth;
}

.bg-greenKumpaiLigth{
    background-color:$greenKumpaiLigth;
}


.t-yellowKumpai{
    color:$yellowKumpai;
}

.t-orangeKumpai{
    color:$orangeKumpai;
}

.t-greenKumpai{
    color:$greenKumpai;
}


@mixin center {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@mixin centerFlex{
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    background-color: $whiteKumpai;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    position: fixed;
    z-index: 999;

    ul {

        display: flex;
        justify-content: space-between;
        width: 100%;


        .btnInit{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: end;
            font-weight: bold;
            color:#00B4C1;
            font-size: 24px;
        }
        .logo{
            background-image: url("/asset/Logo 2-14.svg");
            background-repeat: no-repeat;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: start;
        }

    }
}

.oneSection{
    background-image: url("/asset/imgs/portada.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;

    .logoSlogan{
        height: 20rem;
        position: relative;
        left: 10%;
        top: 10rem;
    }
    .itemsOne {
        display: flex;
        margin: 100px;
        position: relative;
        top: 25rem;
        p{
            font-family: DinRoundPro;
            font-size: 20px;
            color:$whiteKumpai;
            max-width: 800px;
        }
        button{
            height: 50px;
            width: 200px;
            border-radius: 10px;
            background-color: $orangeKumpai;
            color: $whiteKumpai;
            font-size: 20px;
            border: none;
            position: relative;
            left: 15%;
        }
    }
}

.twoSection {
    div{
        display: flex;
        flex-direction:column;
        place-content: center;
        div{
            display: flex;
            flex-direction:row;
            margin: 80px 100px 25px 100px;
            p{
                margin: 120px;
                max-width: 400px;
                justify-content: center;
            }
        }
    }
    font-size: 24px;
}

.threeSection{
    background-color: rgb(186, 250, 181);
    max-height: 800px;
    h2{
        font-family: FestivoLetters;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        padding-top: 80px ;
        
    }
    .imgPeople {
        max-height: 600px;
        position: relative;
        left: 90rem;
    }
        div{
            .boxy{
                display:flex;
                width: 500px;
                position: relative;
                top:-550px;
                gap:50px;
                left: 20%;
                margin: 40px;
                border-radius:  50%  10px 10px 50%;
                .boxNumero {
                    font-size: 40px;
                    font-weight: bold;
                    display: flex;
                    place-content: center;
                    align-items: center;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background-color: $whiteKumpai;
                }
                .boxText{
                    font-size: 25px;
                    display: flex;
                    place-content: center;
                    align-items: center;
                }
            }
        }
}

.fourSection{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    place-content: center;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .imgCrad{
            max-width: 200px;
            position: relative;
            top:100px;

        }
        .boxCard{
            border-radius: 20px;
            margin: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 850px;
            h2{
                font-size: 25px;
                display: flex;
                place-content: center;
                margin-top: 100px;
            }
            p{
                font-size: 20px;
                display: flex;
                place-content: center;
                max-width: 250px;
                margin-top: 50px;

            }
        }
    }
    
}

.fiveSection{
    background-color: $orangeKumpai;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        align-items: center;
        display: flex;
        flex-direction: column;
        button{
            height: 50px;
            width: 200px;
            border-radius: 10px;
            background-color: $orangeKumpai;
            color: $whiteKumpai;
            font-size: 20px;
            border: none;
            position: relative;
            top:-100px;

        }
        .itemsOne{
            display: flex;
            align-items: center;
            gap: 80px;
            margin-bottom: 50px;
            flex-direction: row;
            p{
                font-size: 20px;
                max-width: 700px;
                color:$whiteKumpai;
                font-weight: bold;
            }
            .logoSlogan{
                height: 20rem;
            }
        }
    }
}
